@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    color: rgb(2, 1, 19);
    font-size: 20px;
    font-family:"kalam" , cursive;
    font-weight: bold;
    padding: 30px;
    margin: 30px;
}

.Paginainicial {
    font-family:"kalam" , cursive;
    color: rgb(1, 0, 3);
    font-size: 24px;
    padding: 30px;
    margin: 20px 0;
    text-align: center;
}